<div class="app-root" [ngClass]="theme == 'dark' ? 'dark' : 'light'" fxLayout="column" fxLayoutGap="13px">

  <div class="first-section">
    <div class="first-para">
      <div>Written language legible,</div>
      <div>comprehensible, and aesthetically</div>
      <div> pleasing.</div>
    </div>

    <div class="sec-para">
      Written language legible, comprehensible, and aesthetically pleasing.
    </div>

    <div class="third-para">
      <div>Written language legible, </div>
      <div>comprehensible, and aesthetically</div>
      <div> pleasing.</div>
    </div>

    <div class="fourth-para">
      <div>Typography is an intricate art form that involves skillfully</div>
      <div> arranging typefaces, font sizes, and spacing to render written</div>
      <div> language legible, comprehensible, and aesthetically pleasing.</div>
    </div>

    <div class="fifth-para">
      <div>Typography is an intricate art form that involves skillfully arranging </div>
      <div>typefaces, font sizes, and spacing to render written language legible,</div>
      <div>comprehensible, and aesthetically pleasing.</div>
    </div>

    <div class="sixth-para">
      <div>Typography is an intricate art form that involves skillfully arranging </div>
      <div>typefaces, font sizes, and spacing to render written language legible,</div>
      <div>comprehensible, and aesthetically pleasing.</div>
    </div>

    <div class="seventh-para">
      <div>Typography is an intricate art form that involves skillfully arranging </div>
      <div>typefaces, font sizes, and spacing to render written language legible,</div>
      <div>comprehensible, and aesthetically pleasing.</div>
    </div>

    <div class="eigth-para">
      <div>Typography is an intricate art form that involves skillfully arranging </div>
      <div>typefaces, font sizes, and spacing to render written language legible,</div>
      <div>comprehensible, and aesthetically pleasing.</div>
    </div>

    <div class="ningth-para">
      <div>Typography is an intricate art form that involves</div>
      <div> skillfully arranging typefaces, font sizes, and </div>
      <div>spacing to render written language legible, </div>
      <div>comprehensible, and aesthetically pleasing.</div>
    </div>

    <div class="tenth-para">
      <div>Typography is an intricate art form that involves skillfully arranging typefaces, font sizes, and</div>
      <div>spacing to render written language legible, comprehensible, and aesthetically pleasing.</div>
    </div>

    <div class="eleventh-para">
      <div>Typography is an intricate art form that involves skillfully arranging typefaces, font sizes, and</div>
      <div>spacing to render written language legible, comprehensible, and aesthetically pleasing.</div>
    </div>

    <div class="tweleth-para">
      <div>Typography is an intricate art form that involves skillfully arranging typefaces, font sizes, and</div>
      <div>spacing to render written language legible, comprehensible, and aesthetically pleasing.</div>
    </div>
  </div>

  <div class="switch-button">
    <button (click)="theme = 'light'" *ngIf="theme == 'dark'">Switch</button>
  </div>
  <div class="switch-button">
    <button (click)="theme = 'dark'" *ngIf="theme == 'light'">Switch</button>
  </div>

  <div class="sec-section">
    <!-- <div class="demo">Demo</div> -->

    <div class="first-para">
      <div>Written language legible,</div>
      <div>comprehensible, and aesthetically</div>
      <div> pleasing.</div>
    </div>

    <div class="sec-para">
      Written language legible, comprehensible, and aesthetically pleasing.
    </div>

    <div class="third-para">
      <div>Written language legible, </div>
      <div>comprehensible, and aesthetically</div>
      <div> pleasing.</div>
    </div>

    <div class="fourth-para">
      <div>Typography is an intricate art form that involves skillfully</div>
      <div> arranging typefaces, font sizes, and spacing to render written</div>
      <div> language legible, comprehensible, and aesthetically pleasing.</div>
    </div>

    <div class="fifth-para">
      <div>Typography is an intricate art form that involves skillfully arranging </div>
      <div>typefaces, font sizes, and spacing to render written language legible,</div>
      <div>comprehensible, and aesthetically pleasing.</div>
    </div>

    <div class="sixth-para">
      <div>Typography is an intricate art form that involves skillfully arranging </div>
      <div>typefaces, font sizes, and spacing to render written language legible,</div>
      <div>comprehensible, and aesthetically pleasing.</div>
    </div>

    <div class="seventh-para">
      <div>Typography is an intricate art form that involves skillfully arranging </div>
      <div>typefaces, font sizes, and spacing to render written language legible,</div>
      <div>comprehensible, and aesthetically pleasing.</div>
    </div>

    <div class="eigth-para">
      <div>Typography is an intricate art form that involves skillfully arranging </div>
      <div>typefaces, font sizes, and spacing to render written language legible,</div>
      <div>comprehensible, and aesthetically pleasing.</div>
    </div>

    <div class="ningth-para">
      <div>Typography is an intricate art form that involves</div>
      <div> skillfully arranging typefaces, font sizes, and </div>
      <div>spacing to render written language legible, </div>
      <div>comprehensible, and aesthetically pleasing.</div>
    </div>

    <div class="tenth-para">
      <div>Typography is an intricate art form that involves skillfully arranging typefaces, font sizes, and</div>
      <div>spacing to render written language legible, comprehensible, and aesthetically pleasing.</div>
    </div>

    <div class="eleventh-para">
      <div>Typography is an intricate art form that involves skillfully arranging typefaces, font sizes, and</div>
      <div>spacing to render written language legible, comprehensible, and aesthetically pleasing.</div>
    </div>

    <div class="tweleth-para">
      <div>Typography is an intricate art form that involves skillfully arranging typefaces, font sizes, and</div>
      <div>spacing to render written language legible, comprehensible, and aesthetically pleasing.</div>
    </div>
  </div>
</div>